<h1>Welcome, Chat room</h1>
<!-- <p *ngIf='!isOther else somebodyEnter'>Waiting somebody enter room...</p>
<ng-template #somebodyEnter>
    <p #somebodyEnter>Begin</p>
</ng-template> -->
<h1>{{roomId}}</h1>
<button (click)='joinRoom()'>Join Room</button>
<input [(ngModel)]='message' >
<button (click)='sendMessage()'>Send</button>
<ul>
    <li *ngFor='let msg of messages'>{{msg}}</li>
</ul>