<layout>
    <div class="d-flex justify-content-center vh-100">
        <div class="align-self-center">
            <h1>Welcome to Piu Piu.</h1>
            <div class="d-flex justify-content-center">
                <button class="btn px-5 py-2 font-weight-bold" style="margin-top: 10rem;background-color: rgb(207, 166, 77);">
                    Say Hi.
                </button>
            </div>
        </div>
    </div>
</layout>